<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/static/css/bootstrap.min.css"
    />
    <script src="/static/js/jquery.min.js"></script>
    <title>Error</title>
    <style>
      body{
        background-image: url("/static/images/predict.jpg");
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h6>Something went wrong, please <a href="/">try again</a></h2>
        </div>
      </div>
      <hr />
   </div>
  </body>
</html>