<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css"
      rel="stylesheet"
    />
    <link
      href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css"
      rel="stylesheet"
    />
    <title>Prediction</title>
  </head>
  <body>
    <div id="main" style="display: none;">
      <img src="/static/g.jpg" width="200" height="200" alt="Input image" />
      <div>
        {{ plot_div|safe }}

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>
        {{ plot_script|safe }}
      </div>
    </div>
  </body>
</html>
